[Unit]
Description=LightwalletD Daemon (Testnet via ZcashD)
After=network.target zcashd_testnet.service
StartLimitBurst=5
StartLimitIntervalSec=10
[Service]
Type=simple
Restart=always
RestartSec=1
User=gesker
ExecStart=/home/gesker/Development/lightwalletd/lightwalletd --config /home/gesker/lightwalletd/lightwalletd_testnet_zcashd.yml --no-tls-very-insecure
[Install]
WantedBy=multi-user.target
